.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
.footer-content a {
    color: #007bff;
    text-decoration: none;
}
  
.footer-content a:hover {
    text-decoration: underline;
}
